*{
    margin:0;
    padding:0;
}

ul,ol,li {
    list-style: none;
}

a {
    text-decoration:none;
    color: black;
    cursor: pointer;
    transform: translateY(0); 
    transition: transform 0.3s; 
}

body{
    background-color: #ACD8BF;
    font-size: 18px;

}
/* 在原有 CSS 文件中添加媒体查询 */
@media only screen and (max-width: 600px) {
    body {
        font-size: 16px; /* 根据需要调整字体大小 */
    }

    /* 可根据需要调整其他样式，确保在小屏幕上有更好的可读性和用户体验 */
}
